<!DOCTYPE html>
<html>
   <head>
      <title>Simple Appointment App</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="stylesheet" href="/css/bootstrap.min.css" />
   </head>
   <body>
      <div class="row">
         <div class="col-6 offset-3">
            <br />
            <h1 align="center">Appointment app</h1><br />
         </div>
         <div class="col-6 offset-3">
            <ul class="list-group">
               <li class="list-group-item"><a href="/appointments">Add Appointment</a></li>
               <li class="list-group-item"><a href="/list_appointments">List Appointments</a></li>
            </ul>
         </div>
         <div class="col-6 offset-3">
            
            <div class="card-footer text-muted">
               <p class="text-center">
                  COMP308 - 001 - Emerging Technologies <br />
                  Midterm <br />
                  <br /> 301093125 -
                  Caique Bispo Ferreira
               </p>
               
             </div>
         </div>
      </div>
      
   </body>
</html>