<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>
<body class="container">
	<div class="row">
        <div class="col-12 offset-1 pt-3 pb-3">
			<form method="post">
				<div class="form-group row">
                    <label for="courseCode" class="col-2 col-form-label" style="font-weight: bold">Course Code:</label>
                    <div class="col-10">
                        <input class="form-control" type="text" size="30" placeholder="Enter your course code" name="courseCode" required>
                    </div>
				</div>
				<div class="form-group row">
                    <label for="courseName" class="col-2 col-form-label" style="font-weight: bold">Course Name:</label>
                    <div class="col-10">
                        <input class="form-control" type="text" size="30" placeholder="Enter your course name" name="courseName" required>
                    </div>
				</div>
                <div class="form-group row">
                    <label for="email" class="col-2 col-form-label" style="font-weight: bold">Student Email:</label>
                    <div class="col-10">
                        <input class="form-control" type="text" size="80" placeholder="Enter your email" name="email" readonly="readonly" value="<%= email %>">
                    </div>
                </div>
				<div class="form-group row">
                    <label for="comments" class="col-2 col-form-label" style="font-weight: bold">Your comments:</label>
                    <div class="col-10">
                        <textarea rows="7" cols="35" class="form-control" placeholder="Enter your comments" name="comments" required ></textarea>
                    </div>
				</div>
				<div class="form-group row">
                    <label for="courseGPA" class="col-2 col-form-label" style="font-weight: bold">Course GPA:</label>
                    <div class="col-10">
                        <input class="form-control" type="number" placeholder="Enter your course gpa" name="courseGPA" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="fullStackExperience" class="col-2 col-form-label" style="font-weight: bold">Have you developed some full-stack application before?</label>
                    <div class="col-10">
                        <select class="form-control" id="fullStackExperience">
                            <option>Yes</option>
                            <option>No</option>
                          </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-10 offset-2">
                        <button type="submit" class="btn btn-success btn btn-block">Submit</button>
                    </div>
                </div>
            </form>
		</div>
	</div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>