<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>
<body class="container">
	<div class="row">
        <div class="col-12 offset-1 pt-3 pb-3">
			<form method="post" action="/students">
                <div class="form-group row">
                    <h1><%= title %></h1>
                </div>
				<div class="form-group row">
                    <label for="firstName" class="col-2 col-form-label" style="font-weight: bold">First Name:</label>
                    <div class="col-10">
                        <input class="form-control" type="text" size="30" placeholder="Enter your first name" name="firstName" required>
                    </div>
				</div>
				<div class="form-group row">
                    <label for="lastName" class="col-2 col-form-label" style="font-weight: bold">Last Name:</label>
                    <div class="col-10">
                        <input class="form-control" type="text" size="30" placeholder="Enter your last name" name="lastName" required>
                    </div>
				</div>
                <div class="form-group row">
                    <label for="email" class="col-2 col-form-label" style="font-weight: bold">Email:</label>
                    <div class="col-10">
                        <input class="form-control" type="text" size="80" placeholder="Enter your email" name="email" >
                    </div>
                </div>
				<div class="form-group row">
                    <label for="password" class="col-2 col-form-label" style="font-weight: bold">Password:</label>
                    <div class="col-10">
                        <input class="form-control" type="password" size="80" placeholder="Enter your password" name="password" >
                    </div>
				</div>
                <div class="form-group row">
                    <label for="strongestTechnicalSkill" class="col-2 col-form-label" style="font-weight: bold">Strong Technical Skill:</label>
                    <div class="col-10">
                        <input class="form-control" type="text" size="80" placeholder="Enter your strongest technical skill" name="strongestTechnicalSkill" >
                    </div>
				</div>
                <div class="form-group row">
                    <label for="favouriteSubject" class="col-2 col-form-label" style="font-weight: bold">Favourite Subject:</label>
                    <div class="col-10">
                        <input class="form-control" type="text" size="80" placeholder="Enter your favourite subject" name="favouriteSubject" >
                    </div>
				</div>
				<div class="form-group row">
                    <div class="col-10 offset-2">
                        <button type="submit" class="btn btn-success btn btn-block">Sign Up</button>
                    </div>
                </div>
            </form>
		</div>
	</div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>